.document-wrapper {
    position: relative;
    z-index: 100;
    background: #fff;
    display: flex;
    padding: 24px;
}

.document {
    width: calc(50% - 8px);
    background: #f6f6f6;
    padding: 40px 32px;
    height: 400px;
    overflow-y: auto;
}

.document-1 {
    margin-right: 8px;
}

.suggest-input {
    padding: 16px !important;
}


.mobileheader {
    display: none;
}

.main-block[data-v-5aeace88] {
    height: 400px;
    padding: 80px 15px 80px;
}

@media all and (max-width: 900px) {
    .document-wrapper {
        flex-direction: column;
        padding: 4px;
        background: #f6f6f6;
    }

    .document {
        width: 100%;
        padding: 16px 10px;
        height: 320px;
        overflow-y: auto;
        background: #fff;
    }

    .document-1 {
        margin: 0 0 16px;
    }

    .document-2 {

    }
}

@media all and (max-width: 768px) {
    .document h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .document h5 {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 12px;
    }

    .desktopheader {
        display: none !important;
    }

    .mobileheader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: #333;
        height: 40px;
    }

    .mobileheader__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .site-header .burger {
        padding: 15px 10px;
        margin: 0 0 0 auto;
        border: none;
        font-size: 0;
        line-height: 0;
        background: 0 0;
        outline-style: none;
        border-radius: 0;
        box-shadow: none;
        height: 50px;
        width: 40px;
    }

    .site-header .burger .burger-line {
        display: block;
        width: 20px;
        height: 4px;
        margin-top: 4px;
        background-color: #fff;
        border-radius: 2px;
    }

    .site-header .burger .burger-line:first-child {
        margin-top: 0;
    }

    .mobileheader__logo {
        display: flex;
        margin: 0 10px;
        width: 173px;
        height: 50px;
        background: url("data:image/svg+xml,%3Csvg width='167' height='40' viewBox='0 0 167 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='6' y='8' width='32' height='24' fill='%23F41B4B'/%3E%3Crect x='47' y='13' width='5' height='15' fill='white'/%3E%3Crect x='54' y='13' width='5' height='15' fill='white'/%3E%3Crect x='60' y='13' width='5' height='15' fill='white'/%3E%3Crect x='67' y='13' width='5' height='15' fill='white'/%3E%3Crect x='74' y='13' width='5' height='15' fill='white'/%3E%3Crect x='87' y='13' width='5' height='15' fill='white'/%3E%3Crect x='100' y='13' width='5' height='15' fill='white'/%3E%3Crect x='113' y='13' width='5' height='15' fill='white'/%3E%3Crect x='135' y='13' width='5' height='15' fill='white'/%3E%3Crect x='148' y='13' width='5' height='15' fill='white'/%3E%3Crect x='80' y='13' width='5' height='15' fill='white'/%3E%3Crect x='93' y='13' width='5' height='15' fill='white'/%3E%3Crect x='106' y='13' width='5' height='15' fill='white'/%3E%3Crect x='119' y='13' width='5' height='15' fill='white'/%3E%3Crect x='141' y='13' width='5' height='15' fill='white'/%3E%3Crect x='154' y='13' width='5' height='15' fill='white'/%3E%3Ccircle cx='129.5' cy='20.5' r='2.5' fill='%23F41B4B'/%3E%3C/svg%3E%0A") 0 50% no-repeat;
        background-size: 100% auto;
    }

    .main-block[data-v-5aeace88] {
        height: 330px !important;
        justify-content: center !important;
        padding: 90px 15px 8px !important;
    }
    .main-block-field[data-v-5aeace88] {
        -ms-grid-columns: repeat(2, 1fr) !important;
        -ms-grid-rows: repeat(4, 1fr) !important;
        grid-template-areas: none !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;
        grid-column-gap: 2px !important;
        grid-row-gap: 2px !important;
    }

    .main-block-field .main-block-field--suggestions[data-v-5aeace88] {
        grid-area: 1 / 1 / 2 / 3 !important;
        height: 48px !important;
    }

    .main-block-field .main-block-field--occupied[data-v-5aeace88] {
        grid-area: 2 / 1 / 3 / 3 !important;
        height: 48px !important;
    }

    .main-block-field .main-block-field--guest[data-v-5aeace88] {
        grid-area: 3 / 1 / 4 / 3 !important;
        height: 48px !important;
    }

    .main-block-field .btn-search-main[data-v-5aeace88] {
        grid-area: 4 / 1 / 5 / 3 !important;
        height: 48px !important;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-block-select-city[data-v-5aeace88] {
        display: none;
    }

    .main-block-note[data-v-5aeace88], .main-block-title[data-v-5aeace88] {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 4px;
    }

    .descr {
        font-size: 15px !important;
        font-weight: 500 !important;
    }

    .main-block--link-city[data-v-5aeace88] {
        display: none !important;
    }

    .suggest-input {
        border-radius: 3px !important;
        height: 48px !important;
        padding: 14px 8px 14px !important;
        width: 100% !important;
    }

    .suggest-label[data-v-c517a248] {
        height: 48px;
        padding: 0 20px;
    }

    .main-block-field--occupied__in[data-v-5aeace88], .main-block-field--occupied__out[data-v-5aeace88] {
        border-radius: 3px !important;
        height: 48px !important;
        padding: 14px 8px 14px !important;
    }

    .main-block-field--occupied__in .title[data-v-5aeace88], .main-block-field--occupied__out .title[data-v-5aeace88] {
        margin-bottom: -11px;
        padding-top: 0;
    }

    .select-guests--btn[data-v-d2cc700a] {
        border-radius: 2px;
        height: 48px;
    }
}
